server {
    listen 80;
    server_name netzclub.local www.netzclub.local;
    root /var/www/html/netzclub-net/public;
    index  index.php index.html;
    charset utf-8;

    location ~ \.php$ {
        include snippets/fastcgi-php8.conf;
    }

    # Main URL rewriting
    location / {
      try_files $uri $uri/ /index.php$is_args$args;
    }

    error_log /var/log/nginx/netzclub.log;
    access_log /var/log/nginx/netzclub.log;
}

