server {
    listen 80;
    server_name rator-api.local www.rator-api.local;
    root /var/www/html/netzclub-net/public;
    index  index.php index.html;
    charset utf-8;

    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to proxy
        try_files $uri @proxy;
    }

    location @proxy {
        proxy_pass http://177.17.128.2:3000;
        proxy_set_header Host $host;
    }

    error_log /var/log/nginx/cref-frontend_error.log;
    access_log /var/log/nginx/cref-frontend_access.log;
}

